:root {
  --bg-primary: #fefefe;
  --text: #63ceba;
  --secondary: #29333f;
  --bg-secondary: #d4d5d8;
  --primary: #2a3340;
}

body {
  background: var(--bg-secondary);
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  background: var(--bg-primary);
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  background: var(--primary);
  color: var(--text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  width: fit-content;
  display: block;
}

button.secondary {
  background: var(--bg-secondary);
  color: var(--primary);
}

p {
  color: var(--secondary);
  font-size: small;
  margin: 0;
}

h1 {
  color: var(--secondary);
  margin: 0;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  gap: 0.5rem;
}

.images .image {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background: var(--bg-secondary);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.options .option {
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background: var(--bg-secondary);
  border: 3px solid #fff;
  border-radius: 5px;
}

.winner {
  width: 200px;
  height: 200px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background: var(--bg-secondary);
  border-radius: 5px;
}

.options .option.active {
  border: 3px solid var(--text);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.winner {
  width: 200px;
}
